{
    "LogFile": "",
    "LogLevel": "debug",

    "AMQP": "amqp://USER:PASSWORD@HOST:PORT",
    "Queue": "totem_output",
    "RoutingKey": "*.result.static.totem",
    "PrefetchCount": 10,

    "HTTP": ":8016",
    "ExtendedMime": true
}
